.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  color: white;
  text-shadow: 2px 2px 2px black;
}

.days {
  color: white;
  text-shadow: 2px 2px 2px black;
}

.clock.wyn {
  padding: 7em 0 4em;
}
.wyn > .time {
  font-size: 8rem;
}
.wyn > .days {
  font-size: 1.2rem;
  margin-top: 0.5em;
}

.clock.hello {
  align-items: flex-end;
  margin: 2em;
}
.hello > .time {
  font-size: 1.5rem;
  margin-right: 0.3em;
}
.hello > .days {
  font-size: 1rem;
  margin-top: 0.2em;
}
